<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="blobStorageConnection" value="DefaultEndpointsProtocol=https;AccountName=dohblobstoarge;AccountKey=yPvNHaSlZ+FikM+LDWXDlVEfoHJogrI63vJLUjnf+m9o1PCinU8gOmn2nZ2lUQ52jILMih4qnyOfFREu4BvjXQ==;EndpointSuffix=core.windows.net" />
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>